/* UTILITIES */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: uberL;
    src: url(font/UberMove-Light.ttf);
}

@font-face {
    font-family: uberR;
    src: url(font/UberMove-Regular.ttf);
}

@font-face {
    font-family: uberM;
    src: url(font/UberMove-Medium.ttf);
}

@font-face {
    font-family: uberB;
    src: url(font/UberMove-Bold.ttf);
}

html{
    font-family: uberR;
    font-size: 1rem;
    scroll-behavior: smooth;
}


/* NAVBAR */

li{
    list-style-type: none;
}

nav{
    display: flex;
    background-color: rgb(0, 0, 0);
    padding: 1rem;
    align-items: center;
}

.navitems{
    display: flex;
}

nav ul{
    display: inline-flex;
}

.dropdown a{
    display: block;
    padding: 0.5rem;
}

.content{
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 16rem;
    border-radius: 3px;
    visibility: hidden;
    padding: 0.4rem 0.5rem;
}

.content a{
    padding: 0.5rem;
    color: #757575;
    text-decoration: none;
    font-weight: 300;
}

.content a:hover{
    background-color: rgb(238, 238, 238);
    color: #191919;
    transition-duration: 0.3s;
}

.show{
    animation: anim 0.1s linear;
    visibility: visible;
}

@keyframes anim {
    from{
        transform: translateY(-5%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}

.head{
    font-size: 1.5rem;
    font-weight: 450;
    padding-left: 7rem;
    padding-right: 2rem;
    color: white;
    text-decoration: none;
}

.leftitem{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 0.5rem 0.9rem;
}

.left{
    padding-right: 38rem;
}


.left li{
    border-radius: 30px;
    transition-duration: 0.2s;
}

.left li:hover{
    background-color: rgba(255, 255, 255, 0.181);
}

.left li:active{
    background-color: rgba(255, 255, 255, 0.274);
}


.left button{
    border: none;
    color: white;
    background: none;
    font-family: uberR;
    font-size: 1rem;
    display: inline-block;
    padding: 0.5rem 0.9rem;
}

.left svg{
    width: 0.9rem;
    height: 0.9rem;
    position: relative;
    top: 0.130rem;
    left: 0.375rem;
}



.rightitem{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 0.5rem 0.9rem;
}

.right li{
    border-radius: 30px;
    transition-duration: 0.2s;
}

.right li:hover{
    background-color: rgba(255, 255, 255, 0.181);
}

.right li:active{
    background-color: rgba(255, 255, 255, 0.274);
}

.right li:last-child{
    background-color: white;
    color: black;
    transition-duration: 0.3s;
}

.right li:last-child:hover{
    background-color: rgb(218, 218, 218);
    color: black;
}

.right button{
    border: none;
    background: none;
    font-family: uberM;
    font-size: 1rem;
    display: inline-block;
    padding: 0.5rem 0.9rem;
}

.right svg{
    width: 1rem;
    height: 1rem;
    position: relative;
    top: 0.130rem;
    margin-right: 0.375rem;
    rotate: -45deg;
}


/* PAGE1 */

.page1{
    background-color: black;
    max-height: 52rem;
}

.page1container{
    display: flex;
    padding: 54px;
    gap: 8rem;
    justify-content: center;
    align-items: center;
}

.page1 img{
    width: 550px;
    height: 690px;
}


.page1left h1{
    font-size: 3.5rem;
    font-family: uberB;
    font-weight: 900;
    max-width: 500px;
    color: white;
}

.page1 p{
    margin-top: 2rem;
    font-weight: 500;
    color: white;
}

.page1 .text{
    display: flex;
    flex-flow: column nowrap;
    width: 400px;
    gap: 15px;
    margin-top: 20px;
}

.page1 input{
    height: 45px;
    border-radius: 7px;
    background-color: white;
    border: none;
    font-family: uberR;
    font-size: 1rem;
    padding-left: 32px;
}

.page1 input:focus{
    outline: none;
}

.line{
    rotate: 90deg;
    width: 69px;
    position: relative;
    right: 19.5px;
    bottom: 2px;
    border: none;
    height: 1px;
    background-color: rgb(255, 255, 255);
}


.text .location{
    background-image: url(assets/circle.png);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: top 14px left 10px;
}

.text .destination{
    background-image: url(assets/square.png);
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: top 14px left 9px;
}

.page1left button{
       font-family: uberM;
       font-size: 1rem;
       padding: 0.9rem 1.4rem;
       border: none;
       border-radius: 7px;
       background-color: white;
       margin-top: 30px;
}

/* PAGE 2 */

.page2{
    background-color: white;
    max-height: 52rem;
}

.page2container{
    display: flex;
    padding: 54px;
    gap: 8rem;
    justify-content: center;
    align-items: center;
}

.page2 img{
    width: 550px;
    height: 550px;
}


.page2right h1{
    font-size: 3.5rem;
    font-family: uberB;
    font-weight: 900;
    max-width: 500px;
    color: rgb(0, 0, 0);
}

.page2 p{
    margin-top: 1rem;
    font-weight: 500;
    max-width: 410px;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
}

.page2right .text{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.page2right button{
    font-family: uberM;
    font-size: 1rem;
    padding: 0.9rem 1.4rem;
    border: none;
    border-radius: 7px;
    background-color: rgb(0, 0, 0);
    color: white;
    transition-duration: 0.2s;
}

.page2right button:hover{
    background-color: rgb(44, 44, 44);
}

.underline a {
    display: inline-block;
    position: relative;
    color: #000000;
    font-size: 1.1rem;
    text-decoration: none;
  }
  
  .underline a::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #00000035;
  }

  .underline a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }
  
  .underline a:hover::after {
    transform: scaleX(1);
    background-color: #000000;
    transform-origin: bottom left;
  }



/* PAGE 3 */

.page3{
    background-color: white;
    max-height: 52rem;
}

.page3container{
    display: flex;
    padding: 54px;
    gap: 8rem;
    justify-content: center;
    align-items: center;
}

.page3 img{
    width: 550px;
    height: 550px;
}


.page3left h1{
    font-size: 3.5rem;
    font-family: uberB;
    font-weight: 900;
    max-width: 500px;
    color: #333333;
}

.page3 p{
    margin-top: 1rem;
    font-weight: 500;
    max-width: 420px;
    font-size: 1.1rem;
    color: #333333;
}

.page3left .text{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.page3left button{
    font-family: uberM;
    font-size: 1rem;
    padding: 0.9rem 1.4rem;
    border: none;
    border-radius: 7px;
    background-color: rgb(0, 0, 0);
    color: white;
    transition-duration: 0.2s;
}

.page3left button:hover{
    background-color: rgb(44, 44, 44);
}


/* PAGE 4 */

.page4{
    background-color: white;
    max-height: 52rem;
}

.page4container{
    display: flex;
    padding: 54px;
    gap: 8rem;
    justify-content: center;
    align-items: center;
}

.page4 img{
    width: 550px;
    height: 550px;
}


.page4right h1{
    font-size: 2.2rem;
    font-family: uberB;
    font-weight: 900;
    max-width: 500px;
    color: #000000;
}

.page4 p{
    margin-top: 1rem;
    font-weight: 500;
    max-width: 420px;
    font-size: 1.1rem;
    color: #000000;
}

.page4right .text{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.page4right button{
    font-family: uberM;
    font-size: 1rem;
    padding: 0.9rem 1.4rem;
    border: none;
    border-radius: 7px;
    background-color: rgb(0, 0, 0);
    color: white;
    transition-duration: 0.2s;
}

.page4right button:hover{
    background-color: rgb(44, 44, 44);
}


/* QR */

.qr{
    background-color: #f4f4f4;
    padding: 40px;
}

.qrtitle{
    position: relative;
    margin-left: 120px;
    color: rgb(0, 0, 0);
}



.qrcontent{
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
}

.qrcontent svg{
    width: 16px;
}

.qrleft a{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 25px;
    gap: 20px;
    border-radius: 4px;
    width: 35rem;
    height: 13rem;
    text-decoration: none;
    color: #000000;
}

.qrright a{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 25px;
    gap: 20px;
    border-radius: 4px;
    width: 35rem;
    height: 13rem;
    text-decoration: none;
    color: #000000;
}

.arrow{
    transition-duration: 0.2s;
}

.link:hover .arrow{
    transform: translate(5px);
}

.inner h2{
    width: max-content;
    padding-bottom: 5px;
}
  
/* FINALPAGE */

.finalpage{
    padding: 100px 180px;
    background-color: black;
}

.finalhead{
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}

.finaltext{
    font-size: 1.1rem;
    margin-top: 2rem;
    color: white;
    margin-bottom: 60px;
}

.finallist{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
}

.list h1{
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
    padding: 7px 0px;
}

.list ul a{
    text-decoration: none;
    color: white;
}

.list ul li{
    padding-top: 20px;
}

.list a:hover{
    color: #aaaaaa;
}

.contact svg{
    width: 16px;
    height: 16px;
    
}

.contact{
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
}

.contact ul{
    display: inline-flex;
    color: white;
}

.socialmedia ul{
    display: flex;
    gap: 4rem;
}

.contact li{
    padding: 13px 15px;
    border-radius: 10px;
    transition-duration: 0.2s;
}

.contact li:hover{
    background-color: rgba(255, 255, 255, 0.247);
    cursor: pointer;
}

.misc .globe{
    rotate: -45deg;
}

.misc ul{
    display: flex;
    gap: 10px;
}

.misc li:hover{
    cursor: pointer;
}

.misc svg{
    position: relative;
    top: 3px;
    right: 4px;
}

.store{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 50px;
}

.playstore svg{
    width: 128px;
    height: 37.92px;
}

.appstore svg{
    width: 128px;
    height: 42.76px;
}

.footer{
    color: #AFAFAF;
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}

.footer ul{
    display: inline-flex;
    gap: 2.5rem;
}

.footer a{
    color: #AFAFAF;
    text-decoration: none;
}

.footer a:hover{
    color: #696969;
}


  